<header class='site--header' id='header'>
  <div class='site--header-branding' aria-label="Home">
    <a href="/">
      <span class="site--header-logo"><img src="../assets/images/logo.svg" alt=""></span>
    </a>
  </div>
  <div class="site--header-nav" aria-label="Main menu">
    <nav class="menu">
      <ul class="site--menu">
        <li class="site--menu-item"><a href="/blogs" class="site--menu-item-link">Blogs</a></li>
        <li class="site--menu-item"><a href="/projects" class="site--menu-item-link">Projects</a></li>
        <li class="site--menu-item"><a href="/contact" class="site--menu-item-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>