<header class='site--header' id='header'>
  <div class='site--header-branding' aria-label="Home">
    <a href="/">
      <span class="site--header-logo"><img src="../assets/images/logo.svg" alt=""></span>
    </a>
  </div>
  <div class="site--header-nav" aria-label="Main menu">
    <div id="site--header-nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>