.widget-title {
  @include typecsset-font-size(40px);
  position: relative;
  overflow: visible;
  padding-bottom: 1.5rem;
  margin-bottom: 2.5rem;
  &:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    top: -4rem;
    @include typecsset-font-size(120px);
    font-family: $body-serif;
    font-weight: $bold;
    text-transform: uppercase;
    color: transparentize($black, .9);
    white-space: nowrap;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5rem;
    height: 5px;
    background: $secondary;
  }
}