@keyframes loaded {
  from {
    transform: translateY(-4rem);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.not-loaded {
  opacity: 0;
  visibility: hidden;
}

.loaded {
  @include animate('loaded', 1s);
}