{# index.twig #}
{% extends "src/layout/layout.twig" %}
{% set pageName = 'Homepage'%}


{% block page %}
    <header>
        <h1>Web Generator, Gulp and Twig.js</h1>
    </header>
    <p>
        The copy will have a working implementation of Yeoman Web Generator, Gulp & Twig.js with BrowserSync integrated.
    </p>
{% endblock %}