{# index.twig #}
{% extends "src/layout/layout.twig" %}
{% set pageName = 'Homepage' %}


{% block page %}
  <section class="index--banner">
    <div class="index--banner-content">
      <h1 class="index--banner-content-heading">Hey! I'm <span>Malabya</span></h1>
      <span class="index--banner-pointers">Drupal Developer</span>
      <span class="index--banner-pointers">Open Source Evangelist</span>
      <span class="index--banner-pointers">Professional Trainer</span>
      <span class="index--banner-pointers">Occasional Blogger</span>
      <span class="index--banner-pointers">Speaker</span>
      <span class="index--banner-pointers">Technical Architect @ Valuebound</span>
    </div>
  </section>
{% endblock %}