{# index.twig #}
{% extends "src/layout/layout.twig" %}
{% set pageName = 'Homepage' %}


{% block page %}
  <section class="index--banner">
    <div class="index--banner-content">
      <h1 class="index--banner-content-heading">Hey! I'm <span>Malabya</span></h1>
      <span class="index--banner-pointers">Drupal Developer</span>
      <span class="index--banner-pointers">Open Source Evangelist</span>
      <span class="index--banner-pointers">Professional Trainer</span>
      <span class="index--banner-pointers">Occasional Blogger</span>
      <span class="index--banner-pointers">Speaker</span>
      <span class="index--banner-pointers">Technical Architect @ Valuebound</span>
    </div>
  </section>
  <section class="index--about">
    <div class="index--about-content">
      <div class="index--about--left-content loaded animate slideleft" id="about-image">
        <img src="../assets/images/me.png" alt="">
      </div>
      <div class="index--about--right-content loaded animate slideright" id="about-desc">
        <h2 class="widget-title" data-label="About">A short story about me, thinking and craft.</h2>
        <p>I am Mason Robert. Impossible considered invitation him men instrument saw celebrated unpleasant. Put rest
          and
          must set kind next many near nay. He exquisite continued explained middleton am. Impossible considered
          invitation him men instrument saw celebrated unpleasant. Put rest and must set kind next many near nay. He
          exquisite continued explained middleton am. Voice hours young woody.</p>
      </div>
    </div>
  </section>
  <section class="index--exp">
    <div class="index--exp-content">
      <h2 class="widget-title" data-label="Experience">Work History</h2>
      <div class="index--exp-item">
        <h3>Art &amp; Creative director</h3>
        <h4>2 years 2015-2017 </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Put rest and must set kind next many near nay.</p>
      </div>
      <div class="index--exp-item">
        <h3>Art &amp; Creative director</h3>
        <h4>2 years 2015-2017 </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Put rest and must set kind next many near nay.</p>
      </div>
      <div class="index--exp-item">
        <h3>Art &amp; Creative director</h3>
        <h4>2 years 2015-2017 </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Put rest and must set kind next many near nay.</p>
      </div>
      <div class="index--exp-item">
        <h3>Art &amp; Creative director</h3>
        <h4>2 years 2015-2017 </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Put rest and must set kind next many near nay.</p>
      </div>
    </div>
  </section>
  <section class="index--blog">
    <div class="index--blog-content">
      <h2 class="widget-title" data-label="Blog">From the Blog</h2>
      <div class="index--blog-item">
        <span>Posted on April 08, 2018 under Community</span>
        <h3>Bangalore Drupal Meetup - March/April 2018</h3>
        <p>A brief about the meetup which happened on April 7th 2018 by Drupal Bangalore in Valuebound.</p>
      </div>
      <div class="index--blog-item">
        <span>Posted on April 08, 2018 under Community</span>
        <h3>Bangalore Drupal Meetup - March/April 2018</h3>
        <p>A brief about the meetup which happened on April 7th 2018 by Drupal Bangalore in Valuebound.</p>
      </div>
      <div class="index--blog-item">
        <span>Posted on April 08, 2018 under Community</span>
        <h3>Bangalore Drupal Meetup - March/April 2018</h3>
        <p>A brief about the meetup which happened on April 7th 2018 by Drupal Bangalore in Valuebound.</p>
      </div>
      <div class="index--blog-item">
        <span>Posted on April 08, 2018 under Community</span>
        <h3>Bangalore Drupal Meetup - March/April 2018</h3>
        <p>A brief about the meetup which happened on April 7th 2018 by Drupal Bangalore in Valuebound.</p>
      </div>
      <div class="index--blog-item">
        <span>Posted on April 08, 2018 under Community</span>
        <h3>Bangalore Drupal Meetup - March/April 2018</h3>
        <p>A brief about the meetup which happened on April 7th 2018 by Drupal Bangalore in Valuebound.</p>
      </div>
    </div>
  </section>
{% endblock %}