/* ==========================================================================
   Colors palette settings
   ========================================================================== */
$white: #fff;
$black: #0f0f0f;

$whisper: #f2f2f2;
$light-grey: #a0a0a0;
$grey: #6a6a6a;
$dark-grey: #484848;
$gery-input: #dddddd;

$primary: #ff4500;
$secondary: #007fd5;
$tertiary: #3c3c3c;